/* ==== Global Styles ==== */

.container {
    margin: 0 auto;
    width: 1160px;
    text-align: center;
}

.button {
    display: block;
    width: 168px;
    height: 63px;
    padding-top: 8px;
    border-top: 0px solid #FFFFFF;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 1) 0px 5px 0px 0px inset;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 60px;
    background-color: #18cfab;
    color: #FFFFFF;
}

.button:hover, 
.button:focus {
    background-color: #00cbf6;
}

/* ==== Local Styles ==== */

.bg-wrap {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #4e4e4e;
}

/* Header */

.header {
    padding-bottom: 243px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../img/parallax-backgrounds/section-header.jpg");
}

 /* Navbar */

.header-navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.header-navbar {
    width: 100%;
    background-color: #00000050;
}

.header-navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-decoration: none;
    color: #FFFFFF;
}

.logo {
    width: 58px;
    height: 67px;
    padding: 13px;
    box-sizing: border-box;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    background: url("../img/icons/logo-polygon.png") no-repeat;
}

.logo-text {
    padding-left: 8px;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
}

.logo-green-text {
    font-weight: 700;
    color: #18cfab;
}

.navbar-menu-item {
    margin-right: 21px;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff99
}

.navbar-menu-item:hover {
    padding-bottom: 49px;
    border-bottom: 2px solid #18cfab;
    color: #18cfab;
}

.navbar-icon {
    font-size: 20px;
    color: #ffffff90;
}

.navbar-icon:hover, 
.navbar-icon:focus {
color: #18cfab;
}

/* Slogan and NOW Buttons */

.header-slogan {
    display: flex;
    flex-direction: column;
    padding-top: 251px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.header-slogan-first {
    font-size: 35px;
}

.slogan-green-text {
    color: #18cfab;
}

.header-slogan-second {
    padding: 25px 0;
    font-size: 78px;
}

.header-slogan-third {
    font-size: 34px;
    font-weight: 400;
    text-transform: capitalize;
    color: #d4d4d4;
}

.header-buttons-wrap {
    display: flex;
    padding: 130px 365px 0;
    justify-content: space-evenly;
}

/* Option Section */

.options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.option-card {
    display: flex;
    flex-direction: column;
    padding: 99px 0;
    border-top: 8px solid #FFFFFF;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #18cfab;
    color: #FFFFFF;
}

.option-card:nth-child(2n-1) {
    border-top: 8px solid #18cfab;
    background-color: #1c2a33;
    color: #18cfab;
}
.option-card:hover, 
.option-card:focus {
    border-top: 8px solid #18cfab;
    background-color: #00cbf6;
}

.option-card:nth-child(2n-1):hover, 
.option-card:nth-child(2n-1):focus {
    border-top: 8px solid #FFFFFF;
    background-color: #30414b;
}

.option-card-content {
    text-align: center;
}

.option-card-img {
    display: block;
    margin: 0 auto;
}

.option-card-text {
    padding-top: 50px;
}

/* Tabs Section  */

.tabs-headline {
    display: inline-block;
    padding: 80px 0 30px;
    font-size: 36px;
    text-transform: capitalize;
    color: #4e4e4e;
}

.headline-underline {
    width: 75px;
    height: 3px;
    margin: 0 auto;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    transform: skewX(71deg);
}

.tabs-title-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 70px;
    text-transform: capitalize;
}

.tabs-title-item {
    padding: 30px 0;
    border: 0.5px solid #edefef;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    background-color: #f8fcfe;
    color: #717171;
}

.tabs-title-item.active {
    position: relative;
    border: 1px solid #18cfab;
    background-color: #18cfab;
    color: #FFFFFF;
}

.tabs-title-item.active:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -20px;
    left: 86px;
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;
}

.tabs-content {
    height: 140px;
    box-sizing: content-box;
    padding-top: 25px;
    padding-bottom: 100px;
}

.tabs-content-item {
    display: none;
}

.tabs-content-item.active {
    display: flex;
}

.tabs-content-item-img {
    width: 195px;
    height: 140px;
    margin-right: 20px;
    border: 1px solid #9e9e9450;
}
.tabs-content-item-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
    color: #777777;
}
/* Buy-Install Section */

.buy-install {
    display: flex;
    flex-direction: column;
    padding: 125px 0;
    box-sizing: border-box;
    justify-items: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../img/parallax-backgrounds/section-2.jpg");
}

.buy-install-title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18cfab;
}

.buy-install-description {
    padding: 12px 0px;
    margin-bottom: 42px;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    color: #bcbcbc;
}

.buy-install-button {
    margin: 0 auto;
}

/* Works Section */

.works {
    padding: 95px 0 100px;
    border-bottom: #e1e1e1;
    background-color: #E9EDEF;
}

.works-title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
}

.works-title-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: 610px;
    margin: 70px auto ;
    cursor: pointer;
    text-transform: capitalize;
}

.works-title-item {
    position: relative;
    padding: 22px 0;
    border: 0.5px solid #dadada;
}

.works-title-item.active {
    color: #18cfab;
}

.works-title-item.active:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid #18cfab;
}

.works-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 70px;
}

.works-gallery-card {
    height: 205px;
    position: relative;
    box-sizing: border-box;
}


.works-gallery-img {
    width: 290px;
    height: 205px;
    object-fit: cover;
}

.img-card-icon-wrap {
    width: 0;
    height: 0;
    opacity: 0;
}

.works-gallery-card:hover .img-card-icon-wrap, 
.works-gallery-card:focus .img-card-icon-wrap {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 46px;
    top: 0;
    left: 0;
    box-sizing: border-box;
    text-align: center;
    border-top: 2px solid #18cfab;
    background-color: #FFFFFF;
    opacity: 1;
    transition: opacity 0.6s;
}

.img-card-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    line-height: 40px;
    background-color: #ffffff;
    color: #18cfab;
}

.img-card-icon:hover,
.img-card-icon:focus {
    background-color: #18cfab;
    color: #ffffff;
}

.img-card-title {
    padding-top: 34px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    color: #18cfab;
}

.img-card-category {
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
    text-transform: capitalize;
}

.works-gallery-card.hidden {
    display: none;
}

.load-more-btn {
    margin: 0 auto;
    display: block;
    width: 170px;
    height: 63px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #18cfab;
    color: #FFFFFF;
}

.load-more-btn:hover,
.load-more-btn:focus {
    background-color: #00cbf6;
}

.load-more-btn:before {
    content: "+";
    padding-right: 15px;
    vertical-align: sub;
    font-size: 32px;
    font-weight: 700;
}

/* News Section */

.news-title {
    padding: 82px 0 24px 0;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
}

.news-feed {
    margin: 70px 0 130px 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 45px;
    justify-content: space-between;
}

.news-card {
    position: relative;
    width: 263px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.news-card-img {
    height: 208px;
}

.news-date {
    position: absolute;
    width: 68px;
    height: 68px;
    padding-top: 10px;
    right: 0;
    top: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 25px;
    word-spacing: 10vw;
    background-color: #203e38;
    color: #FFFFFF;
}

.news-info {
    padding-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #F2F4F5;
    background-color: #f8fcfe;
}

.news-card-title {
    padding-left: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    text-transform: capitalize;
    color: #717171;
}
.news-activity {
    padding-left: 18px;
    font-weight: 300;
    text-align: left;
    color: #777777;
}

.news-card:hover .news-card-title,
.news-card:focus .news-card-title {
    color:#18cfab;
}

.news-card:hover .news-date,
.news-card:focus .news-date {
    background-color: #18cfab;
}

/* Reviews Section */

.reviews {
    padding: 100px 0;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../img/parallax-backgrounds/section-3.jpg");
    color: #a3a7a8;
}

.reviews-title {
    padding-bottom: 30px;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}

.slider {
    margin-top: 65px;
}

.quotes-icon {
    width: 45px;
}

.slider-comment {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
}
.slider-comment-user {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.review-wrapper {
    position: relative;
    width: 100%;
    height: 425px;
}

.slider-user-review {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.slider-user-review.active {
    animation-delay: 1s;
    animation: show 3s 1;
    animation-fill-mode: forwards;
    opacity: 1;
    transition: 1s;
}

.slider-user-data-name {
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18cfab;
}

.slider-user-data-profession {
    padding-bottom: 50px;
    font-size: 13px;
    font-weight: 300;
}

.slider-user-photo-big {
    display: inline-block;
    margin-bottom: 60px;
    width: 145px;
    height: 145px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 0 0 12px #1FDAB520;
    overflow: hidden;
}

.slider-area {
    margin: 0 auto;
    display: flex;
    width: 480px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.arrow-left {
    width: 30px;
    height: 30px;
    top: 16px;
    box-sizing: border-box;
    border: 1px solid #969a9c;
    font-size: 18px;
    line-height: 30px;
    color: #969a9c;
}

.arrow-right {
    width: 30px;
    height: 30px;
    top: 16px;
    box-sizing: border-box;
    border: 1px solid #969a9c;
    font-size: 18px;
    line-height: 30px;
    color: #969a9c;
}

.arrow-left:hover, .arrow-right:hover, 
.arrow-left:focus, .arrow-right:focus {
    border: 1px solid #18cfab;
    font-weight: 700;
    cursor: pointer;
    background-color: #18cfab;
    color: #FFFFFF;
}

.slider-wrapper {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.slider-user-photo-small {
    position: relative;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #1FDAB525;
    overflow: hidden;
}

.slider-user-photo-small.active {
    transform: translate3d(0px, -10px, 0px);
    transition: transform .4s ease-in-out;
    cursor: pointer;
}

.slider-user-photo {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

/* Footer-Ham Section */

.footer-ham {
    font-weight: 300;
    background-color: #22353f;
}

.footer-text {
    padding: 48px 0;
    line-height: 26px;
    text-align: center;
    color: #aeaeae;
}

.footer-text-link {
    text-decoration: none;
    color: #18cfab;
}

/* ==== Parallax Backgrounds ==== */

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}